.*
~*
!/.gitattributes
!/.gitignore
!/.gitinclude
!/.editorconfig
!/.eslintrc
!/.stylelintrc
!/.travis.yml

ehthumbs.db
Thumbs.db
Desktop.ini
user.properties
npm-debug.log

node_modules/
temp/
src/img/

*.air
*.f4v
*.flv
*.m4v
*.mov
*.mp4
*.ogv
*.psd
*.pyc
*.wav
*.webm
*.zip
